/**
 * Spin
 *
 * @since 3.0.0
 */

.u-spin,
%u-spin {
    animation: spin 0.3s infinite linear;
}

.u-whirr,
%u-whirr {
    animation: whirr 4s ease-in-out;
}


@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}

@keyframes whirr {
    0% { transform: rotate(0deg); }
    20% { transform: rotate(360deg); }
    100% { transform: rotate(360deg); }
}