/**
 * Card
 */

.card,
%card {
    display: block;
    text-decoration: none;
    border: seperator(base, width) seperator(base, style) seperator(base, color);
    background-color: color(neutral, white);
    border-radius: $border-radius;

    > [class*="__header"] {
        border-bottom: seperator(base, width) seperator(base, style) seperator(base, color);

        > * {
            margin-bottom: 0;
        }
    }

    > [class*="__body"] > *:last-child {
        margin-bottom: 0;
    }

    > [class*="__header"],
    > [class*="__body"],
    > [class*="__footer"] {
        padding: spacing(lg);
    }

    > [class*="__footer"] {
        border-top: seperator(base, width) seperator(base, style) seperator(base, color);
    }
}

a.card,
a%card {
    
    &:hover {
        background-color: lighten(color(brand, sky), 10%);
    }
}


.card--inline {
    display: flex;
    overflow: hidden;
    align-items: center;

        .card__header {
            border-bottom: 0;
            border-right: seperator(base, width) seperator(base, style) seperator(base, color);
        }

    //@include breakpoint(max-width screen(sm, max)) {
        flex-wrap: wrap;

        .card__body {
            flex: 1;
            
        }
        .card__footer {
            width: 100%;
        }
    //}
    // @include breakpoint(screen(md)) {
    //     .card__footer {
    //         border-top: 0;
    //         border-left: seperator(base, width) seperator(base, style) seperator(base, color);
    //     }
    // }
}