.header {
    @extend %u-separator-bottom;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    
    overflow: hidden;
    padding: spacing();
    background-color: color(neutral, white);
    transition: height 350ms cubic-bezier(0.23, 1, 0.32, 1);

    @include breakpoint(max-width screen(xs, max)) {
        flex-direction: column;
        height: 7em;
        &.is-active {
            height: 100%;
            .header__body,
            .header__footer {
                opacity: 1;
                visibility: visible;
            }
        }
    }
    
    @include breakpoint(screen(sm)) {
        .header__body {
            margin-left: auto;
        }
        .header__footer {
            display: none;
        }
    }
}

@include breakpoint(max-width screen(xs, max)) {
    .header__body,
    .header__footer {
        opacity: 0;
        visibility: hidden;
        transition: opacity 350ms cubic-bezier(0.23, 1, 0.32, 1);
    }
    .header__body {
        flex-grow: 1;
    }
}

.header__body {
    @include flex;
    @include align-items(center);
}
.header__logo {
    display: block;
//    @include breakpoint(max-width screen(xs, max)) {
        width: 125px;
        float: left;
//    }
}

.header__link-menu {
    @extend %u-text-branded;
    text-decoration: none;
    float: right;
    &:hover {
        color: color(brand, aqua);
    }
    &:active {
        color: color(brand, steel);
    }
    &.is-active {
        @extend %u-throb;
    }
}

.header__nav {
    @include breakpoint(screen(sm)) {
        li {
            display: inline-block;
            margin-left: spacing();
        }
    }
}