/**
 * Logo
 */

.logo {
    @include flex;
    @include align-items(center);
    
    > * {
        flex-shrink: 0;
    }
    
    &__logo {
        width: 50px;
        margin-right: spacing(sm);
    }
    
    &__text {
        width: 60px;
    }
}