/**
 * Logo
 */

.logo {
    @include flex;
    @include align-items(center);
    
    > * {
        display: inherit;
    }
    
    &__logo {
        margin-right: spacing(sm);
    }
    
    @include breakpoint(screen(sm)) {
        > * {
            flex-shrink: 0;
        }
        &__logo {
            width: 50px;
        }
    
        &__text {
            width: 60px;
        }
    }
}